<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DarkFalcon_v3.Properties.Settings.TesteConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Teste.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>